$color-primary:#B971DE;
$color-primary-light:#14E00B;

$color-secondary-light:#ff9244;
$color-secondary-dark:#ff8009;

$color-tertiary-light:#0BCDE0;
$color-tertiary-dark:#5643fa;



$color-primary-dark:#804e99;
$color-grey-dark:#777;

$color-footer:#333;


$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-white:#fff;
$color-black:#000;

//Font

$default-font-size:1.6rem;




//GRID

$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horiontal:6rem;
