@keyframes moveInleft{
    0%{
        opacity: 0;
        transform:translateX(-100%);
    }
    80%{
        transform: translateX(2.5rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes moveInright{
    0%{
        opacity: 0;
        transform:translateX(100%);
    }
    80%{
        transform: translateX(-2.5rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);

    }
}
@keyframes moveUp{
    0%{
        opacity: 0;
        transform:translateY(1.7rem);
    }

    
    100%{
        opacity: 1;
        transform: translateX(0);

    }
}


@keyframes giggle{
    0%{
        transform: translateY(-1rem);
    }
    25%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(10deg);;
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-1rem);
    }
    50%{
        transform: translateX(1rem);
    }
    100%{
        transform: translateX(0);
    }
}